#############################################################################################
#                                                                                           #
#        This file contains options of alignement tools available in EGN                    #
#        It was written from documentation of:                                              #
#        -BLAST  Altschul, S.F., Gish, W., Miller, W., Myers, E.W. & Lipman, D.J. (1990)    #
#            "Basic local alignment search tool." J. Mol. Biol. 215:403-410               #
#        -BLAT   BLAT--the BLAST-like alignment tool. Kent WJ.                              #
#                Genome Res. 2002 Apr;12(4):656-64.                                         #
#                                                                                           #
#    -Please verify that your PATH is properly configured for each of them                  #
#    -Edit these values to modify their usage in EGN                                        #
#                                                                                           #
#############################################################################################

#################################
#        BLAST+ options         #
#################################
begin BLAST;

#Expectation value (E) threshold for saving hits Default = 10
-evalue=10

#Number of threads (CPUs) to use in the BLAST search. default = 1
-num_threads=16

#Cost to open a gap (-1 invokes default behavior) [Integer]    default = -1
-gapopen=def

#Cost to extend a gap (-1 invokes default behavior) [Integer]    default = -1
-gapextend=def

#Number of database sequences to show one-line descriptions for (V) [Integer]   default = 500
-num_descriptions=def

end BLAST;
#

#####################################
#            BLAT options           #
#####################################
begin BLAT;

#external file of over-occurring 11-mers
#-ooc=BLATPath/11.ooc

#If set to 1 this allows one mismatch in tile and still triggers an alignments.  Default is 0.   
-oneOff=def   

#-minScore=N sets minimum score. This is the matches minus the mismatches minus some sort of gap penalty.  Default is 30
-minScore=def

#-maxGap=N   sets the size of maximum gap between tiles in a clump.  Usually set from 0 to 3.  Default is 2. Only relevant for minMatch > 1.
-maxGap=def

#Number of threads (this option is not a legacy blat parameter) default=1 
-num_threads=2

end BLAT;
